<main class="container mt-5 mb-9 p-5 border bg-gray text-black">
    <div class="row">
        <div class="col-12">
            <h3>About Me</h3>
            <hr class="border-dark">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <img src="/assets/images/yingzhou.JPG" class="auth-image" alt="Ying Zhou">
        </div>
        <div class="col-sm-5">
            <p>My name is Ying Zhou. I have been working as a Senior Software Engineer
                for 15 years.
            </p>
            <br>
            <p>Since English is my second language, I spent a lot of time to learn English by reading.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p>
                Daily Joke: <br>
                Mr. and Mrs. Brown had two sons. One was named Mind Your Own Business & the other was named Trouble.
                One day the two boys decided to play hide and seek. Trouble hid while Mind Your Own Business counted to
                one hundred.
                Mind Your Own Business began looking for his brother behind garbage cans and bushes.
                Then he started looking in and under cars until a police man approached him and asked,
                "What are you doing?" "Playing a game," the boy replied. "What is your name?" the officer questioned.
                "Mind Your Own Business." Furious the policeman inquired, "Are you looking for trouble?!"
                The boy replied, "Why, yes." <br><br><br>
            </p>
        </div>
        <div class="col-sm-2"></div>
        <br>
        <br>
    </div>
</main>