<main class="container mt-5 mb-9 p-5 border bg-gray text-black">
    <div class="row">
        <div class="col-12">
            <h3>About Me</h3>
            <hr class="border-dark">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <img src="/assets/images/yingzhou.JPG" class="auth-image" alt="Ying Zhou">
        </div>
        <div class="col-sm-5">
            <p>Over 18 year US experience in IT financial industries with strong focus on Java. Real project experience
                in system and application development on Server platform, including architecture, object-oriented
                design, coding, testing in Agile/Scrum working Environment; Hands-on experience in trading and financial
                realtime high volume performance applications, project lead and team player, strong problem solving
                skills and 24X7 reliability.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br>
            <h10><strong>Skills</strong> - Java, C++/C#, Python, Unix/Linux, Oracle, SQL, node, jQuery, HTML5, CSS,
                bootstrap, MVC, JavaScript/AJAX, express, MongoDb noSQL, React, Git, Eclipse, XML, JSON, control-M,
                shell scripts, junit.
            </h10>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <br>
            <h10><strong>Experience</strong><br>
                Sr. Engineer, Cboe Global Markets, 2001 to present; <br>
            </h10><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br>
            <h10><strong>CTMr-</strong>
                Developed and implemented CTMr (CBOE Trade Match) trading system, which is designed by Java full life
                cycle and running on Linux platform with Oracle database. CTMr is a real time clearing system to report
                matched trade information to OCC via MQ series. It generates mini pass reports and loads reports to
                report2Web system. It supports a web base CTMi GUI which is a post-trade application allowed firms
                query, update, allocation their own trades. By end of day, CTMr provides daily and history data to Data
                Ware house. Control-M is used to start and stop jobs in schedule. <br>
            </h10><br>
            <h10><strong>CMi2-</strong>
                (CAS API version 2)-Worked on the project from phase I to phase II full life cycle planning, design, and
                implementation. Developed a simulator to self-testing API protocol, provided technical support, business
                knowledge and patients to explain specification and help trading firms converted to new API. The
                application had rolled out to production successfully and received positive feedback from trading firms.
                The simulator tool is widely used by system developers. <br>
            </h10><br>
            <h10><strong>Vector-</strong>
                A new CBOE trading system. Developed an integration testing tool called Replay simulator. The data is
                fetched from database followed by a timing sequence and sent back to front end to recreate any possible
                problems in house. High performance is required to meet production frequency trading system. <br>
            </h10><br>
        </div>
        <hr>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br>
            <hr>
            <h10><strong>Education</strong> - Master degree in computer science, Loyola University
                Chicago, 1999;<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Bachelor degree in Electrical Engineering;<br>
            </h10>
            <hr>
            <h10><strong>Post-graduation classes-</strong> <br>
                <strong>Data Science with Python programming at Depaul University</strong> - gained grade 'A'.
                One project to analysis QQQ stock market and WTI crude coefficient, sets WTI
                settlement price as independent and QQQ close price as dependent. It needs to download
                historical datasets, clean datasets dealing with missing data, split data into train and test
                portion, use train dataset to fit into a linear regression model and use test dataset to
                predict. It was programed in python, run on anaconda spider, use numpy and panda libary.
            </h10><br><br>
            <h10><strong>Full Stack Coding Bootcamp at Northwestern University</strong> - the class is still
                ongoing. I have learned HTML5, CSS, Bootstrap, JavaScript/AJAX, express, MongoDb noSQL, React, jQuery
                and Node so far. The following projects are done from this Coding Bootcamp:
            </h10>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <ul>
                {{#each projects}}
                <li>
                    <a href={{href}} target="_blank"> {{title}}</a>
                </li>
                {{/each}}
            </ul>

        </div>
        <div class="col-sm-1"></div>
    </div>
</main>