<main class="container mt-5 mb-9 p-5 border bg-gray text-black">
    <div class="row">
        <div class="col-12">
            <h3>Portfolio</h3>
            <hr class="border-dark">
        </div>
    </div>    
    <div class="container" id="main-container">
    <section class="main-section">
      <div class="row">
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat1.jpg" alt="Lily">
            <h4>Lily</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat2.jpg" alt="Mimi">
            <h4>Mimi</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat3.jpg" alt="Tiger">
            <h4>Tiger</h4>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat4.jpg" alt="Nala">
            <h4>Nala</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat6.jpg" alt="Renea">
            <h4>Renea</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat5.jpg" alt="Simba">
            <h4>Simba</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat7.jpg" alt="Luki">
            <h4>Luki</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="work">
            <img src="assets/images/cat8.jpg" alt="Milo">
            <h4>Milo</h4>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

    </section>

  </div>
</main>